:root {
  --price-report-fade-duration: 0.5s;
  --price-report-fade-timing-function: cubic-bezier(1, 0, 0.9, 0);
  --price-report-fade-red: #e04943;
  --price-report-fade-green: #43e043;
}

.fade-red-to-white {
  animation: fadeRedToWhite var(--price-report-fade-timing-function)
    var(--price-report-fade-duration) both;
}

.fade-green-to-white {
  animation: fadeGreenToWhite var(--price-report-fade-timing-function)
    var(--price-report-fade-duration) both;
}

.fade-red-to-transparent {
  animation: fadeRedToTransparent var(--price-report-fade-timing-function)
    var(--price-report-fade-duration) both;
}

.fade-green-to-transparent {
  animation: fadeGreenToTransparent var(--price-report-fade-timing-function)
    var(--price-report-fade-duration) both;
}

.token-banner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.token-banner::-webkit-scrollbar {
  display: none;
}

@keyframes fadeRedToWhite {
  0% {
    color: var(--price-report-fade-red);
  }
  100% {
    color: inherit;
  }
}

@keyframes fadeGreenToWhite {
  0% {
    color: var(--price-report-fade-green);
  }
  100% {
    color: inherit;
  }
}

@keyframes fadeRedToTransparent {
  0% {
    color: var(--price-report-fade-red);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeGreenToTransparent {
  0% {
    color: var(--price-report-fade-green);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
