/* Favorit Normal */
@font-face {
  font-family: "Favorit";
  font-style: "normal";
  font-weight: 300;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-Light-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Favorit";
  font-style: "normal";
  font-weight: 350;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-Book-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Favorit";
  font-style: "normal";
  font-weight: 400;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-Regular-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Favorit";
  font-style: "normal";
  font-weight: 500;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-Medium-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Favorit";
  font-style: "normal";
  font-weight: 700;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-Bold-Named.ttf) format("truetype");
}

/* Favorit Italic */
/*
@font-face {
  font-family: 'Favorit';
  font-style: 'italic';
  font-weight: 300;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-LightItalic-Named.ttf) format('truetype');
}

@font-face {
  font-family: 'Favorit';
  font-style: 'italic';
  font-weight: 400;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-RegularItalic-Named.ttf) format('truetype');
}

@font-face {
  font-family: 'Favorit';
  font-style: 'italic';
  font-weight: 500;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-MediumItalic-Named.ttf) format('truetype');
}

@font-face {
  font-family: 'Favorit';
  font-style: 'italic';
  font-weight: 700;
  font-display: block;
  src: url(../fonts/favorit/ABCFavorit-BoldItalic-Named.ttf) format('truetype');
}
*/

/* Favorit Extended Normal */
@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 300;
  font-display: block;
  src: url(../fonts/favorit/ABCFavoritExtended-Light-Named.ttf)
    format("truetype");
}

@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 350;
  font-display: block;
  src: url(../fonts/favorit/ABCFavoritExtended-Book-Named.ttf)
    format("truetype");
}

@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 400;
  font-display: block;
  src: url(../fonts/favorit/ABCFavoritExtended-Regular-Named.ttf)
    format("truetype");
}

@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 500;
  font-display: block;
  src: url(../fonts/favorit/ABCFavoritExtended-Medium-Named.ttf)
    format("truetype");
}

@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 700;
  font-display: block;
  src: url(../fonts/favorit/ABCFavoritExtended-Bold-Named.ttf)
    format("truetype");
}

/* Aime Normal */
/*
@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 100;
  font-display: block;
  src: url(./fonts/aime/FAMAime-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 300;
  font-display: block;
  src: url(./fonts/aime/FAMAime-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 400;
  font-display: block;
  src: url(./fonts/aime/FAMAime-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 600;
  font-display: block;
  src: url(./fonts/aime/FAMAime-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 700;
  font-display: block;
  src: url(./fonts/aime/FAMAime-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'normal';
  font-weight: 800;
  font-display: block;
  src: url(./fonts/aime/FAMAime-ExtraBold.ttf) format('truetype');
}
*/

/* Aime Italic */
/*
@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 100;
  font-display: block;
  src: url(./fonts/aime/FAMAime-ThinItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 300;
  font-display: block;
  src: url(./fonts/aime/FAMAime-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 400;
  font-display: block;
  src: url(./fonts/aime/FAMAime-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 600;
  font-display: block;
  src: url(./fonts/aime/FAMAime-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 700;
  font-display: block;
  src: url(./fonts/aime/FAMAime-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Aime';
  font-style: 'italic';
  font-weight: 800;
  font-display: block;
  src: url(./fonts/aime/FAMAime-ExtraBoldItalic.ttf) format('truetype');
}
*/
