# Vim files
*.sw[a-p]

# Node
**/node_modules/

# Parcel
**/.parcel-cache/

# Build
**/dist/
**/build/

# Docusaurus
**/.docusaurus/

# Fonts
**/fonts/

# Secrets
**/.env*

# Next.js
**/.next/
**/out/

# Misc
.DS_Store
*.pem

# Typescript
*.tsbuildinfo
next-env.d.ts
