:root {
  --animation-duration: 1s;
  --slide-in-distance: 15px;
  --compress-letter-spacing-start: 22px;
  --compress-letter-spacing-end: 20px;
}

.fade-in-right {
  animation: fadeIn ease var(--animation-duration), slideInRight ease var(--animation-duration);
}

.fade-in-left-first {
  animation: fadeIn ease var(--animation-duration),
    slideInLeft ease var(--animation-duration);
}

.fade-in-left-second {
  animation: fadeIn ease var(--animation-duration) 0.2s both,
    slideInLeft ease var(--animation-duration) 0.2s both;
}

.fade-in-left-third {
  animation: fadeIn ease var(--animation-duration) 0.4s both,
    slideInLeft ease var(--animation-duration) 0.4s both;
}

.fade-in-compress {
  animation: fadeIn ease var(--animation-duration), compress ease var(--animation-duration);
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide In Right */
@keyframes slideInRight {
  0% {
    transform: translateX(calc(-1 * var(--slide-in-distance)));
  }
  100% {
    transform: translateX(0);
  }
}

/* Slide In Left */
@keyframes slideInLeft {
  0% {
    transform: translateX(var(--slide-in-distance));
  }
  100% {
    transform: translateX(0);
  }
}

/* Compress */
@keyframes compress {
  0% {
    letter-spacing: var(--compress-letter-spacing-start);
  }
  100% {
    letter-spacing: var(--compress-letter-spacing-end);
  }
}

