:root {
  --animation-duration: 0.75s;
  --slide-in-distance: 15px;
}

.pre-animation {
  visibility: hidden;
}

.fade-in-right {
  animation: fadeIn ease var(--animation-duration) both,
    slideInRight ease var(--animation-duration) both;
}

.fade-in-left {
  animation: fadeIn ease var(--animation-duration) both,
    slideInLeft ease var(--animation-duration) both;
}

.fade-in-compress {
  animation: fadeIn ease var(--animation-duration),
    compress ease var(--animation-duration);
}

.fade-out {
  animation: fadeOut ease-in-out 0.5s both;
}

.translate-up {
  animation: translateUp ease 1s both;
}

.bounce {
  animation: bounce ease-out 0.75s infinite alternate both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(calc(-1 * var(--slide-in-distance)));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(var(--slide-in-distance));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes compress {
  0% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes translateUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}
