@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 300;
  font-display: block;
  src: url(../fonts/ABCFavoritExtended-Light-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Favorit Extended";
  font-style: "normal";
  font-weight: 400;
  font-display: block;
  src: url(../fonts/ABCFavoritExtended-Regular-Named.ttf) format("truetype");
}

@font-face {
  font-family: "Aime";
  font-style: "normal";
  font-weight: 700;
  font-display: block;
  src: url(../fonts/FAMAime-Bold.ttf) format("truetype");
}
